<div layout="row" layout-align="center center" layout-padding style="background-color: red;">
  <a style="background-color: white;" layout-margin ui-sref="courses">All Courses</a>
  <a style="background-color: white;" layout-margin ui-sref="courses.top-favourites">Top Favourites</a>
  <a style="background-color: white;" layout-margin ui-sref="courses.top-enrollments">Top Enrollments</a>
  <a style="background-color: white;" layout-margin ui-sref="courses.my-favourites">My Favourites</a>
  <a style="background-color: white;" layout-margin ui-sref="courses.my-enrollments">My Enrollments</a>
  <a style="background-color: white;" layout-margin ui-sref="about">About</a>
</div>
