<course-card
  flex="50" flex-gt-sm="25"
  data-ng-repeat="course in $ctrl.courses" id="course.id"
  title="course.title" content="course.content" image="course.image"
  enrolls="course.enrolls" enrolled="course.enrolled"
  likes="course.likes" liked="course.liked">
</course-card>

<div layout="column" flex="100" layout-margin layout-padding>
  <h5>Showing {{$ctrl.courses.length}} courses</h5>

  <total-like-counter
    courses="$ctrl.courses">
  </total-like-counter>

  <total-enrolls-counter
    courses="$ctrl.courses">
  </total-enrolls-counter>
</div>
