<div layout="row" layout-align="center center" layout-padding style="background-color: red;">
  <a style="background-color: white;" layout-margin ng-link="['/Courses']">All Courses</a>
  <a style="background-color: white;" layout-margin ng-link="['/Courses', 'TopFavourites']">Top Favourites</a>
  <a style="background-color: white;" layout-margin ng-link="['/Courses', 'TopEnrollments']">Top Enrollments</a>
  <a style="background-color: white;" layout-margin ng-link="['/Courses', 'MyFavourites']">My Favourites</a>
  <a style="background-color: white;" layout-margin ng-link="['/Courses', 'MyEnrollments']">My Enrollments</a>
  <a style="background-color: white;" layout-margin ng-link="['/About']">About</a>
</div>
