<div layout="row" layout-align="center center" layout-padding style="background-color: red;">
  <a style="background-color: white;" layout-margin ng-link="['/CoursesList']">All Courses</a>
  <a style="background-color: white;" layout-margin ng-link="['/CoursesTopFavourites']">Top Favourites</a>
  <a style="background-color: white;" layout-margin ng-link="['/CoursesTopEnrollments', 'TopEnrollments']">Top Enrollments</a>
  <a style="background-color: white;" layout-margin ng-link="['/CoursesMyFavourites', 'MyFavourites']">My Favourites</a>
  <a style="background-color: white;" layout-margin ng-link="['/CoursesMyEnrollments', 'MyEnrollments']">My Enrollments</a>
  <a style="background-color: white;" layout-margin ng-link="['/About']">About</a>
</div>
